[user]
    name = Pat O'Callaghan
    email = patocallaghan@gmail.com
[color]
    ui = auto
[color "status"]
    added = green
    changed = blue
    untracked = red
[color "diff"]
    meta = yellow
    old = red
    new = green
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dt = difftool
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    # View the current working tree status using the short format
    s = status -s
    # Switch to a branch, creating it if necessary
    go = checkout -B
[core]
    editor = vim
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
[push]
    default = current
[pull]
    ff = only
[diff]
  tool = bc3
[difftool]
  prompt = false
[merge]
  tool = bc3
[init]
  templatedir= ~/dev/scripts/tiny_scripts/git-hooks
