<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="beyondcompare" />
  <package id="compass" />
  <package id="conemu" />
  <package id="dropbox" />
  <package id="fiddler" />
  <package id="firefox" />
  <package id="git" />
  <package id="googlechrome" />
  <package id="launchy" />
  <package id="nodejs.install" />
  <package id="vim" />
  <package id="virtualbox" />
</packages>
